<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muzzer Kitchen</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#4CAF50">
</head>

<body>
  <a href="#content" class="skip-link" tabindex="0">To Main Content</a>

  <header>
    <nav id="navbar">
      <div class="brand">
        <img src="./images/muzzer.png" class="brand-logo" alt="Brand Logo">
        <p class="brand-text">MUZZER KITCHEN</p>
      </div>
      <button id="menu-button" aria-label="Toggle menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"
          aria-label="Menu">
          <rect y="4" width="24" height="2" rx="1"></rect>
          <rect y="11" width="24" height="2" rx="1"></rect>
          <rect y="18" width="24" height="2" rx="1"></rect>
        </svg>
      </button>
      <ul id="nav-list" class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/#/favorite">Favorite</a></li>
        <li><a href="https://linkedin.com/in/raasikhfililmi">About Us</a></li>
      </ul>
    </nav>


    <aside id="sidebar" class="sidebar">
      <nav>

        <ul id="nav-list" class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://linkedin.com/in/raasikhfililmi">About Us</a></li>
        </ul>
      </nav>
    </aside>

  </header>


  <main>

    <div id="main-content" tabindex="-1"></div>
  </main>

  <footer>
    <p>SIB Dicoding Indonesia Cycle 7 2024 - Muhamad Raasikh Fil'ilmi F2847YB44</p>
  </footer>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js')
          .then((registration) => {
            console.log('Service Worker berhasil didaftarkan:', registration);
          })
          .catch((error) => {
            console.log('Pendaftaran Service Worker gagal:', error);
          });
      });
    }
  </script>


</body>

</html>